<div class = "login" style="background-image: url(../../assets/images/login-bg.jp) no-repeat  ">
    <h1>Login</h1>
    <form>
        <div class="username">
            <label for="name">Name </label>
            <input type="text" id="name"/>
        </div>
        <div class="userPassword">
            <label for="password">Password </label>
            <input type="password" id="password"/>
        </div>
        <div class="button">
        <button>Login</button>
        </div>
    </form>
</div>