<div class="home">
    <div class="">
        <div class="card-group">
            <div class="card">
                <a href="/schedule" class="">
                    <div class="card-header">
                        <h1>Schedules</h1>
                    </div>
                    <div class="card-body">
                        <p>View your upcoming schedules and create a new schedule.</p>
                        <div class="calendar"></div>
                    </div>
                </a>
            </div>
    
            <div class="card">
                <a href="/tasks">
    
                    <div class="card-header">
                        <h1>Tasks</h1>
                    </div>
                    <p>View progress, upcoming tasks and add or edits.</p>
                </a>
            </div>
            <div class="card">
                <a href="/feeds">
                    <div class="card-header">
                        <h1>
                            Feeds
                        </h1>
                    </div>
                    <div class="card-body">
                        <p>View what is happening in the company and join hot discussions</p>
                    </div>
                </a>
            </div>
            <div class="card">
                <a href="/project">
                    <div class="card-header">
                        <h1>
                            projects
                        </h1>
                    </div>
                    <div class="card-body">
                        <p>View your projects and add new or edit what you want.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>