<nav>
<div class="nav-wrapper">
  <a href="/" class="brand-logo"><i class="material-icons"> dashboard </i> EMS </a>
  <ul class="right hide-on-med-and-down">
    <li><a href="/employees"><i class="material-icons">user-group</i></a></li>
    <li><a href="/calendar"><i class="material-icons">schedule</i></a></li>
    <li><a href="/chat"><i class="material-icons">chat</i></a></li>
    <li><a href="/call-employee"><i class="material-icons">notification</i></a></li>
  </ul>
</div>
</nav>
<router-outlet>  </router-outlet>